.layout {
  width: 100%;

  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / 1fr 32fr auto;
  gap: 8px;
}

.header { grid-area: header; }
.leftSide { grid-area: leftSide; }
.body { grid-area: body; }
.rightSide { grid-area: rightSide; }
.footer { grid-area: footer; }

.title{
    text-align: center;
    font-family: Pixelify Sans;
    font-size: 7rem;
}

.section_title{
    text-align: left;
    font-family: Pixelify Sans;
    font-size: 2rem;
}

.pixel_text{
    text-align: block;
    font-family: Pixelify Sans;
    font-size: 1rem;
}

.pixel_item{
    font-family: Pixelify Sans;
}

.picture{
    height: 275px;
    width: 500px;
}
