<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fastest Times</title>
</head>

<style>
    .leaderboard, tr, td{
        border: 1px solid black ;
        border-collapse: collapse;
    }
</style>

<body>
    <h1>Fastest Times Were:</h1>
    <h2>Upload a File</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="userdb" accept=".db" required>
        <br>
        <button type="submit">Upload</button>
    </form>
    <table class="leaderboard">
        <thead>
            <tr>
                <td>Username</td>
                <td>Time in seconds</td>
                <td>Level</td>
                <td>Played at</td>
            </tr>
        </thead>
        <tbody>
            {% for username, time_seconds, name, played_at in scores %}
                <tr>
                    <td>{{username}}</td>
                    <td>{{time_seconds}}</td>
                    <td>{{name}}</td>
                    <td>{{played_at}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
